<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./snippets/header.ejs')  %> 
    <title>Eklipse Coins | Bitcoin Mining & Trading</title>

<body>

     <!-- Navigation -->
     <%- include('./snippets/navigation.ejs') %> 
     <!-- Navigation ends-->

   <!--  Contact Start -->
   <section class="contact-area mt-5 mb-5">
    <div class="container">
        <div class="heading_container heading_center mb-5">
            <h2>
                Contact <span>Us</span>
            </h2>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="3000">
                    <div class="contact-information mb-5">
                        <p>
                            Feel free to contact us through any of the channels listed below.
                        </p>
                        
                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex">
                            <div class="contact-icon mr-2">
                                <i class="fa fa-phone"></i>
                            </div>
                            <p class="ms-2"> +1-202-555-0147</p>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex">
                            <div class="contact-icon mr-2">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <p class="ms-2">support@eklipsecoins.com</p>
                        </div>
                    </div>
                </div>

                <!-- Contact Form Area -->
                <div class="col-12 col-lg-6">
                    <div class="contact-form-area mb-2">
                        <form action="#" method="post">
                            <input type="text" class="form-control" id="name" placeholder="Name">
                            <input type="email" class="form-control" id="email" placeholder="E-mail">
                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                            <button class="btn btn-primary mt-3" type="submit">Contact Us</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- Contact End  -->
    
    <!-- Footer -->
    <%- include('./snippets/footer.ejs')  %> 

    <!-- scripts -->
    <%- include('./snippets/scripts.ejs')  %> 
 

    <!-- Live chat -->
    <%- include('./snippets/live_chat.ejs') %>

</body>

</html>